<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content class="mat-typography">

  <form [formGroup]="postForm">

  <div class="row">

    <div class="col-6">

      <mat-form-field style="width: 100%;" class="example-full-width" appearance="fill">
        <mat-label>Id de usuario</mat-label>
        <input type="number" matInput required formControlName="userId">
        <mat-error *ngIf="error.userId.errors"><span *ngIf="error.userId.errors.required">¡Advertencia! Este campo es requerido</span></mat-error>
        <mat-error *ngIf="error.userId.errors"><span *ngIf="error.userId.errors.minlength">¡Aún falta! Recibimos mínimo 3 caracteres</span></mat-error>
        <mat-error *ngIf="error.userId.errors"><span *ngIf="error.userId.errors.maxlength">¡Cuidado! Solo puedes tener un máximo de 35 caracteres</span></mat-error>
      </mat-form-field>

    </div>

    <div class="col-6">

      <mat-form-field style="width: 100%;"  class="example-full-width" appearance="fill">
        <mat-label>Titulo</mat-label>
        <input matInput required formControlName="title">
        <mat-error *ngIf="error.title.errors"><span *ngIf="error.title.errors.required">¡Advertencia! Este campo es requerido</span></mat-error>
        <mat-error *ngIf="error.title.errors"><span *ngIf="error.title.errors.minlength">¡Aún falta! Recibimos mínimo 3 caracteres</span></mat-error>
        <mat-error *ngIf="error.title.errors"><span *ngIf="error.title.errors.maxlength">¡Cuidado! Solo puedes tener un máximo de 200 caracteres</span></mat-error>
      </mat-form-field>

    </div>

    <div class="col-12">

      <mat-form-field style="width: 100%;"  class="example-full-width" appearance="fill">
        <mat-label>Cuerpo</mat-label>
        <textarea matInput required formControlName="body"></textarea>
        <mat-error *ngIf="error.body.errors"><span *ngIf="error.body.errors.required">¡Advertencia! Este campo es requerido</span></mat-error>
        <mat-error *ngIf="error.body.errors"><span *ngIf="error.body.errors.minlength">¡Aún falta! Recibimos mínimo 3 caracteres</span></mat-error>
        <mat-error *ngIf="error.body.errors"><span *ngIf="error.body.errors.maxlength">¡Cuidado! Solo puedes tener un máximo de 300 caracteres</span></mat-error>

      </mat-form-field>

    </div>

  </div>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" disabled='{{postForm.invalid}}' (click)="savePost(postForm)" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>
