/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table{
  text-align: center;
  width: 100%;
}

th{
  color: white !important;
  font-weight: bold;
  background-color: #3f51b5;
  text-align: center !important;
  align-content: center !important;
  align-items: center !important;
}
